.mo2f-font {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mo2f-setup-header {
  padding-bottom: 6px;
  font-size: 1.1em;
  width: 100%;
  line-height: 1.3em;
  border-bottom: 1px solid #D3D3D3;
}

.mo2f-setup-header-top-left {
  width: 33%;
  text-align: left;
  font-weight: bold;
  display: inline-block;
}

.mo2f-setup-header-top-center {
  width: 33%;
  text-align: center;
  color: rgb(24, 203, 45);
  margin-top: 1px;
  display: inline-block;
}

.mo2f-setup-header-top-right {
  width: 33%;
  text-align: right;
  display: inline-block;
}

.mo2f-info {
  /* padding: 8px 0px; */
  margin: 12px 0px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mo2f-setup-methods-info-wrap {
  padding-bottom: 25px;
  width: 100%;
  line-height: 1.3em;
  margin-left: 0px;
}

.mo2f-setup-methods-info-left {
  display: inline-block;
  width: 33%;
  text-align: left;
}

.mo2f-setup-methods-info-center {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.mo2f-setup-methods-info-right {
  display: inline-block;
  width: 33%;
  text-align: right;
}

.mo2f-color-icon {
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-right: 10px;
}

.mo2f-active-method {
  background-color: rgba(54, 157, 4, 0.42) !important;
}

.mo2f-configured-method {
  background-color: rgba(99, 143, 223, 0.42) !important;
}

.mo2f-unconfigured-method {
  background-color: rgba(221, 221, 221, 0.66) !important;
}

#mo-auth-setup-twofactor .form-radios .form-item {
  float: left;
  width: 30%;
  min-width: 325px;
  height: 142px;
  padding: 10px;
  margin: 5px 5px 5px 5px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

#mo-auth-setup-twofactor .form-radios .form-item p {
  height: 55px;
}

#mo-auth-setup-twofactor .form-item .form-radio {
  float: left;
  margin-right: 10px;
}

#mo-auth-setup-twofactor .form-item label.option {
  font-size: 1em;
}

.mo2f-method {
  border-bottom: 1px solid #D3D3D3;
  padding: 0px 5px 5px 5px;
  font-weight: bold;
  cursor: pointer;
}

.mo2f-laptop {
  background: url(../images/laptop.png) no-repeat right;
  padding: 10px;
  margin-bottom: 0px;
}

.mo2f-smartphone {
  background: url(../images/smartphone.png) no-repeat right;
  padding: 10px;
  margin-bottom: 0px;
}

.mo2f-smartphone-feature-phone {
  background: url(../images/smart-feature.png) no-repeat right;
  padding: 10px;
  margin-bottom: 0px;
}

.mo2f-landline {
  background: url(../images/landline.png) no-repeat right;
  padding: 10px;
  margin-bottom: 0px;
}

.mo2f-text-center {
  text-align: center;
}
/* The Modal(background) */
.mo2f-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.mo2f-modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  /* border: 1px solid #888; */
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.mo2f-modal-container {
  padding: 0.01em 16px;
}

.mo2f-modal-header {
  color: #4a4a4a !important;
  background-color: #ededed !important;
  padding: 12px 15px;
  font-size: 15pt;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
}

.mo2f-modal-footer, .mo2f-modal-footer a {
  /* color: #fff !important; */
  background-color: #ededed !important;
  text-align: right;
  font-size: 12pt;
  height: 30px !important;
  padding: 12px 15px;
  border-radius: 0px 0px 10px 10px;
}

.mo2f-modal-footer>div.form-actions {
  padding-top: 0px;
  margin-top: 0px;
}

.mo2f-modal-footer a {
  text-decoration: underline !important;
}

.mo2f-message {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  margin: 7px 0px;
  background-position: 8px 8px;
  border: 1px solid;
}

div.mo2f-message-status {
  background-color: #f8fff0;
  color: #234600;
  background-image: url(../../../../../../misc/message-24-ok.png);
  border-color: #be7;
}

.mo2f-message-error {
  background-color: #fef5f1;
  color: #8c2e0b;
  background-image: url(../../../../../../misc/message-24-error.png);
  border-color: #ed541d;
}

.tabs-secondary {
  display: none;
}

.googleauth-table {
  width: 100%;
  margin-top: 10px;
  border: none !important;
}

.googleauth-table tr:first-child td {
  font-size: 15.5px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
}

.googleauth-table td {
  vertical-align: top;
  width: 33%;
  padding: 5px 10px;
}

.googleauth-table td:first-child {
  border-right: 1px solid #ededed;
}

.googleauth-download-manual {
  border: 1px solid #dedede;
  border-radius: 7px;
  border-color: #d6e9c6;
  margin: 5px 15px 5px 0px;
  padding: 0px 15px 20px 15px;
  height: 250px;
}

.googleauth-download-qrcode {
  border: 1px solid #dedede;
  border-radius: 5px;
  border-color: #d6e9c6;
  margin: 5px 15px 5px 0px;
  padding: 0px 15px 20px 15px;
  height: 250px;
}

.googleauth-download-header {
  border-bottom: 1px solid #d6e9c6;
  text-align: center;
  font-size: 11pt;
  padding: 7px;
}

.googleauth-steps {
  padding: 8px 0px;
  font-size: 10.8pt
}

.googleauth-secret {
  background-color: #5cb85c;
  width: 250px;
  margin-left: 100px;
  border: 0px;
  border-radius: 9px;
  color: #fff;
}

.mo2f-textbox {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
    ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
    .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-writing-mode: horizontal-tb;
  box-sizing: border-box;
}

.mo2f-textbox-otp {
  width: 200px;
  font-size: 13pt;
}

#mo-auth-setup-twofactor .form-radios {
  display: inline-block;
}

.mo2f-licensing-thumbnail {
  width: 32%;
  /* padding: 4px; */
  margin: 0px 5px;
  /* line-height: 1.42857143; */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  vertical-align: top;
}

.mo2f-licensing-light-tab {
  background-color: rgba(34, 153, 221, 0.82) !important;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.mo2f-licensing-dark-tab {
  background-color: #1a71a4 !important;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.mo2f-pricing-header {
  font-size: 15pt;
}

.mo2f-pricing-button {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799,
    -1px 0 1px #006799;
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  margin: 0;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px;
}

.mo2f-kba-row {
  margin: 15px 0px;
}

.mo2f-kba-header {
  font-weight: bold;
}

.mo2f-kba-srno {
  display: inline-block;
  width: 5%;
}

.mo2f-kba-question {
  display: inline-block;
  width: 60%;
  max-width: 450px;
}

.mo2f-kba-answer {
  display: inline-block;
  width: 30%;
  max-width: 200px;
}

.mo2f-kba-question input {
  width: 85%;
  padding-right: 0px;
}

.mo2f-kba-question select {
  width: 86%;
}

.mo2f_email_textbox {
  width: 45%;
  text-align: center;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
}
/* General button style (reset) */
.btn {
  border: none !important;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  /* letter-spacing: 0.5px; */
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
} */

/* Pseudo elements for icons */
/* .btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
} */

/* Button 3 */
.btn-3 {
  /* background: rgba(38, 163, 252, 0.68) !important; */
  background: rgba(102, 102, 102, 0.83) !important;
  color: #fff !important;
}

.btn-3:hover {
  /* background: rgba(38,153,252,1) !important; */
  background: rgba(102, 102, 102, 1) !important;
}

.btn-3:active {
  /* background: #f58500; */
  top: 2px;
}

/* Button 3a */
.btn-3a {
  padding: 25px 60px 25px 120px;
}

.btn-3a:before {
  background: rgba(0, 0, 0, 0.05);
}

/* Button 3b */
.btn-3b {
  padding: 25px 60px 25px 120px;
  border-radius: 10px;
}

.btn-3b:before {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.btn-3c {
  padding: 8px 8px 6px 8px !important;
  border-radius: 5px !important;
  box-shadow: 0 3px #666;
}

.btn-3e {
  padding: 25px 120px 25px 60px;
  overflow: hidden;
}

.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2;
}

.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.btn-3e:hover:after {
  width: 40%;
}

.mo2f-grayed-out {
  background-color: rgba(128, 128, 128, 0.05) !important;
  opacity: .5;
}